.cinema__article {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 270px;

  @media screen and (max-width: 59.375em) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    gap: 1rem 0;
  }
  gap: 0 1rem;

  padding: 4rem 0;
}
