.cinema {
  max-width: 144rem;
  margin: 5rem auto;
  min-height: 90rem;
  border-radius: 40px;

  overflow: hidden;

  background: rgb(46, 29, 52);
  background: linear-gradient(
    45deg,
    rgba(46, 29, 52, 1) 0%,
    rgba(21, 30, 43, 0.98) 100%
  );

  display: grid;
  grid-template-columns: 1fr 4fr;
}
