.cinema {
  max-width: 144rem;
  margin: 5rem auto;

  @media screen and (max-width: 73.125em) {
    margin: 0;
    border-radius: 0;
  }

  min-height: 100vh;
  border-radius: 40px;

  overflow: hidden;

  background: rgb(46, 29, 52);
  background: linear-gradient(
    45deg,
    rgba(46, 29, 52, 1) 0%,
    rgba(21, 30, 43, 0.98) 100%
  );

  display: grid;
  grid-template-columns: 1fr 4fr;

  @media screen and (max-width: 45.625em) {
    grid-template-columns: 1fr;
  }
}
