.detail__overlay {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  z-index: 5;

  background-color: #000;
  opacity: 0.5;
  backdrop-filter: blur(10px);
}

.detail-movie.active-spinner {
  display: flex;
  justify-content: center;
}

.detail-movie {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  grid-gap: 0 3rem;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;

  width: 114rem;
  max-width: 80%;
  padding: 5rem 2rem;
  overflow: hidden;

  font-size: 2rem;
  color: #212529;
  font-weight: 500;

  @media screen and (max-width: 28.125em) {
    font-size: 1.4rem;
  }

  &__img {
    img {
      max-width: 25rem;
      height: 40rem;

      display: inline-block;
      object-fit: cover;

      border-radius: 15px;
      overflow: hidden;

      @media screen and (max-width: 43.75em) {
        width: 20rem;
        height: 30rem;
      }

      @media screen and (max-width: 28.125em) {
        width: 12rem;
        height: 22rem;
      }
    }

    animation: imgSlideInLeft 0.3s ease-in;
  }

  &__title {
    font-weight: 600;
    font-size: 3.8rem;
    text-transform: uppercase;

    @media screen and (max-width: 43.75em) {
      font-size: 3rem;
    }

    @media screen and (max-width: 28.125em) {
      font-size: 2rem;
    }
  }

  &__lan {
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    animation: imgSlideInRight 0.3s ease-in;
  }

  &__close {
    position: absolute;
    top: 4%;
    right: 4%;

    svg {
      width: 3.5rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        fill: #ddd;
      }
    }
  }
}

@keyframes imgSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes imgSlideInRight {
  from {
    opacity: 0;
    transform: translateX(50rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
